body {
    background-color: burlywood;
}

#title, #description {
    text-align: center;
}

main {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 80%;
    margin: 50px auto;
    border-radius: 10px;
}

form {
    margin: auto;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid;
    display: block;
    width: 100%;
    margin: 5px 0 20px 0;
}

#dropdown {
    display: flex;
    padding: 5px;
    border-radius: 10px;
    margin: 5px 0;
    width: 100%;
    flex-direction: column;
}